<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PillTrak+.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80CE7DA61FA4F10D006E13F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80CE7DBA1FA4F10D006E13F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80CE7DC51FA4F10D006E13F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
